#root {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 1rem;
    border: 1px solid gray;
  }
  .button{
    position: relative;
    background-color: blue;
  }
  
  @media screen and (min-width: 100px) {
    .card {
      flex: 1 1 calc(50% - 1rem);
    }
  }
  
  @media screen and (min-width: 100px) {
    .card {
      flex: 1 1 calc(60% - 2rem);
    }
  }